<div class="container-fluid bg-content">
    <div class="content container">
      <form class="heading-label">
        <div class="row">
          <div class="col">
            <h3 class="link">Payment Confirmation</h3>
          </div>
        </div>
        <h4 class="sm-heading">Transaction Details</h4>
        <div class="row">
          <div class="col-md-4">
            <label>Teller:</label>
            <p class="form-control-static">Cashier, Boi Boi</p>
          </div>
          <div class="col-md-4">
            <label>OR Number:</label>
            <p class="form-control-static">EX-B999</p>
          </div>
          <div class="col-md-4">
            <label>Transaction Date:</label>
            <p class="form-control-static">March 20, 2018 3:40 PM</p>
          </div>
        </div>
        <h4 class="sm-heading">Customer Details</h4>
        <div class="row">
          <div class="col-md-4">
            <label>Student ID:</label>
            <p class="form-control-static">0001010001010101</p>
          </div>
          <div class="col-md-4">
            <label>Student Name:</label>
            <p class="form-control-static">Brown, Millie-Bobbie</p>
          </div>
        </div>
        <h4 class="sm-heading">Payment Details</h4>
        <div class="row">
          <div class="col-md-4">
            <label>Payment Method:</label>
            <p class="form-control-static">Cash</p>
          </div>
          <div class="col-md-4">
            <label>Amount Paid:</label><!--IF PROMISSORY, NO VALUE-->
            <p class="form-control-static"><span class="currency">10,000.00</span></p>
          </div>
          <div class="col-md-4">
            <label>Amount Due:</label>
            <p class="form-control-static"><span class="currency">10,000.00</span></p>
          </div>
        </div>
        <h4 class="sm-heading">Item Details</h4>
        <!-- IF ENROLLMENT TRANSACTION -->
        <div class="row">
          <div class="col-md-4">
            <label>Transaction:</label>
            <p class="form-control-static">Enrollment</p>
          </div>
          <div class="col-md-4">
            <label>Particular:</label>
            <p class="form-control-static">Enrollment Fee</p>
          </div>
          <!--IF ENROLLMENT FEE-->
          <div class="col-md-4">
            <label>Payment Type:</label>
            <p class="form-control-static">Partial Payment</p>
          </div>
          <!--IF TUITION FEE
          <div class="col-md-4">
            <label>Month:</label>
            <p class="form-control-static">January</p>
          </div>
          <div class="col-md-4">
            <label>Amount:</label>
            <p class="form-control-static"><span class="currency">1,000</span></p>
          </div>-->
        </div>
        <!-- IF OTHERS TRANSACTION -->
        <div class="row">
          <!--IF ENROLLMENT FEE-->
          <div class="col-md-4">
            <label>Particular Name:</label><!--USE VALUE FROM USER INPUT. APPEND OTHERS - "SPECIFIC NAME" IF OTHERS"-->
            <p class="form-control-static">Others - Bojack Horseman Head</p>
          </div>
          <div class="col-md-4">
            <label>Price Amount:</label>
            <p class="form-control-static"><span class="currency">1,000.00</span></p>
          </div>
        </div>
        <div class="btn-forms" style="display: flex; justify-content: flex-end">
          <a href="payment-transaction.html" class="btn btn-link">Cancel</a>
          <a href="#" class="btn btn-primary "><i class="fa fa-check-circle" aria-hidden="true"></i> Confirm </a>
        </div>
      </form>
    </div>
  </div>