{% extends 'base.html' %} {% block settings %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'settings' %}">Settings</a>
  <span class="sr-only">(current)</span>
</li>
{% endblock %} {%block title%} Cashier Transaction {%endblock%} {%load static%} {% block content %}
<div class="content-heading margin">
  <form action="" id="cashierTransaction" class="heading-label">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header link">
            Payment Details
          </div>
          <div class="card-body" id="paymentsPanel">
            <div class="row margin">
              <div class="col-md-8">
                <div class="heading">
                  <label>Choose transaction:</label>
                </div>
                <div class="btn-group btn-group-sm transactions" role="group" aria-label="Choose Transaction">
                  <button type="button" class="btn btn-secondary active" id="enrollmentBtn">Enrollment</button>
                  <button type="button" class="btn btn-secondary" id="othersBtn">Others</button>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" id="btn-add" onclick="add()" class="btn btn-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add Payment</button>
                <button type="button" id="btn-add-particular" onclick="addParticular()" class="btn btn-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
              </div>
            </div>
            <!-- ENROLLMENT -->
            <div class="enrollmentPayment">
              <div class="row payment">
                <div class="col">
                  <h5 class="payment-heading">Payment Details #
                    <span class="count">1</span>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="card-subtitle">Particular:</label>
                  <select class="custom-select btn-block" name="particularList" id="particularList" required>
                    <option selected>Choose particular:</option>
                    <option value="EnrollmentFee">Enrollment Fee</option>
                    <option value="TuitionFee">Tuition Fee</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <div class="details">
                    <label class="card-subtitle">Month:</label>
                    <select class="custom-select btn-block monthList" id="monthList" required>
                      <option value="">Choose payment month:</option>
                      <option value="JAN">January</option>
                      <option value="FEB">Febuary</option>
                      <option value="MAR">March</option>
                      <option value="APR">April</option>
                      <option value="MAY">May</option>
                      <option value="JUN">June</option>
                      <option value="JUL">July</option>
                      <option value="AUG">August</option>
                      <option value="SEP">September</option>
                      <option value="OCT">October</option>
                      <option value="NOV">November</option>
                      <option value="DEC">December</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="tuitionPayment">
                    <label class="card-subtitle">Amount:</label>
                    <input onchange="updateAmountDue();" type="text" name="amountTuition" id="amountTuition" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row" id="paymentTypeRow">
                <div class="col-md-6">
                  <div id="paymentTypeInput">
                    <label class="card-subtitle">Payment Type:</label>
                    <select class="custom-select btn-block" name="paymentType" id="paymentType" required>
                      <option selected>Choose payment type:</option>
                      <option value="Full">Full Payment</option>
                      <option value="Partial">Partial Payment</option>
                      <!-- `Full` here refers to paying the whole SY's balance.
                                while `partial` refers to downpayment -->
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="partial">
                    <label class="card-subtitle">Amount:</label>
                    <input onchange="recordPartial();" type="text" name="amountPartial" id="amountPartial" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- OTHERS -->
            <div class="othersPayment">
              <div class="addParticularPayment">
                <div class="row">
                  <div class="col-md-6">
                    <label class="card-subtitle">Particular Name:</label>
                    <select class="custom-select btn-block" name="feesParticularList" id="feesParticularList" required>
                      <option selected value="">Choose particular:</option>
                      {% for others in others_list %}
                      <option value="{{ others.pk }}">{{ others.payable_name }}</option>
                      {% endfor %}
                      <option value="others">Others</option>
                    </select>
                    <!-- is only saved in the student's payment transaction logs, but object is not saved in the database-->
                    <!-- DATA GENERATED FROM FEES AND ACCOUNTS TABLE VALUES -->
                    <!-- MODAL appears if others is selected -->
                    <div class="modal" tabindex="-1" role="dialog" id="othersModal">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Item details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col">
                                <label>Specific Name:</label>
                                <input type="text" class="form-control" name="particularName" id="particularName" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <label>Price Amount:</label>
                                <input type="text" class="form-control" name="priceAmount" id="priceAmount" />
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save Item</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="others">
                      <label class="card-subtitle">Specify:</label>
                      <h3 class="link">Item</h3>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteParticularRow(this)">Remove</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="card-subtitle">Price Amount:</label>
                    <h2 class="link amount-due">
                      <span class="currency"> 0.00</span>
                    </h2>
                    <!-- corresponds to the user input
                            and/or the undocumented particular (others) -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 payment-summary">
        {% load humanize %}
        <div class="card">
          <div class="card-header link">Payment Summary</div>
          <div class="card-body">
            <div class="row margin">
              <div class="container">
                <div class="summary-title">Student ID:</div>
                <div class="link">{{student.student_ID}}</div>
              </div>
            </div>
            <div class="row margin">
              <div class="container">
                <div class="summary-title">Student Name:</div>
                <div class="link">{{student.last_name}}, {{student.first_name}}-{{student.middle_name}}</div>
              </div>
            </div>
            <div class="enrollment-summary">
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Account Balance:</div>
                  <div class="summary-value link">
                    <span class="currency"> {{account_balance|floatformat:2|intcomma}}</span>
                  </div>
                </div>
              </div>
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Total Amount Paid:</div>
                  <!-- IF TUITION, SUMMATION OF ALL STUDENT TRANSACTION-->
                  <div class="summary-value link">
                    <span class="currency"> {{amount_paid|floatformat:2|intcomma}}</span>
                  </div>
                </div>
              </div>
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Scholarship Deductions:</div>
                  <!--REFER TO RELATIONSHIP BETWEEN STUDENT AND SCHOLARSHIP -->
                  <div class="summary-value link">
                    <span class="currency"> {{scholarship_deductions|floatformat:2|intcomma}}</span>
                  </div>
                </div>
              </div>
              <div class="row margin">
                <div class="container">
                  <!-- SUMMATION OF TUITION FEE > AMOUNT AND IF ENROLLMENT FEE > PAYMENT TYPE > FULL PAYMENT THEN AMOUNT DUE == BALANCE
                IF ENROLLMENT FEE > PAYMENT TYPE > PARTIAL THEN TOTAL AMOUNT DUE == DOWNPAYMENT (DEFINED IN FEES AND ACCOUNTS)-->
                  <div class="summary-title">Total Amount Due:</div>
                  <div class="summary-value link amount-due">
                    <span class="currency"> 0.0 </span>
                  </div>
                </div>
              </div>
            </div>
            <div id="others-summary">
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Total Amount Due:</div>
                  <div class="summary-value link amount-due">
                    <span class="currency"> 0.00 </span>
                  </div>
                  <!--SUMMATION OF ALL PRICE AMOUNT WITH DISCOUNT -->
                </div>
              </div>
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Subtotal:</div>
                  <div class="summary-value link">
                    <span class="currency"> 0.00</span>
                  </div>
                  <!-- SUMMATION OF ALL PRICE AMOUNT *WITHOUT* DISCOUNT -->
                </div>
              </div>
              <div class="row margin">
                <div class="container">
                  <div class="summary-title">Discount:</div>
                  <!--SINCE IT'S NOT A PART OF ANY STUDENT SCHOLARSHIPS,
                THIS CAN ONLY BE APPLIED IF THERE'S A SPECIAL DISCOUNT
                WHICH I DO NOT KNOW-->
                  <div class="summary-value link">
                    <span class="currency"> 0.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button onclick="updateFields()" type="button" class="btn btn-primary" id="createTransactionBtn" data-toggle="modal" data-target="#createTransactionModal">Create Transaction</button>
            <!-- TRANSACTION MODAL -->
            <!---->
            <div class="modal fade" id="createTransactionModal" name="createTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Transaction Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <label>Payment Method:</label>
                        <select class="custom-select btn-block" name="paymentMethod" id="paymentMethod" required>
                          <option selected value="">Choose payment method:</option>
                          <option value="Cash">Cash</option>
                          <option value="Cheque">Cheque</option>
                          <option value="Promissory">Promissory Note</option>
                          <option value="Others">Others</option>
                          <!-- `Others` like cows, lots, etc.
                          IF promissory, leave amount blank -->
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div id="paymentOthers">
                          <div class="method">
                            <label class="card-subtitle">Specify:</label>
                            <input type="text" name="specify" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>OR Number:</label>
                        <input onchange="recordORNum()" type="text" class="form-control" name="ORNumber" id="ORNumber" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>Payment Amount:</label>
                        <input onchange="updateChange()" type="text" class="form-control" name="amountPayment" id="paymentAmount" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>Change:</label>
                        <h2 id="change" class="link">
                          <span class="currency">0.00</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button onclick="sendData()" type="button" class="btn btn-primary btn-send">Create Transaction</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{%endblock%} {%block backend_scripts%} {# BACKEND SCRIPTS #} {% load static %}
<script src="{% static '02-javascript/cashier-scripts.js' %}"></script>
<script>
  //Initializer
  $(function () {
    //Some delay because cannot point to a non existent class(coz ajax has delay lol)
    setTimeout(function () { init(); }, 50);
  });
  //Variables
  var change = 0.0
  var backEndDataObject = {
    "particularType": "",
    "paymentType": "",
    "amount_due": "",
    "months": [],
    "tuitionAmount": [],
    "payment_method": "",
    "ORNumber": "",
  }
  Number.prototype.formatMoney = function (c, d, t) {
    var n = this,
      c = isNaN(c = Math.abs(c)) ? 2 : c,
      d = d == undefined ? "." : d,
      t = t == undefined ? "," : t,
      s = n < 0 ? "-" : "",
      i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
      j = (j = i.length) > 3 ? j % 3 : 0;
    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  };
  //$('[name="ElementNameHere"]')
  //Listeners
  $('.user').click(function () {
    console.log(backEndDataObject)
  });

  $("#paymentType").change(function () {
    if ($(this).val() == "Full") {
      changeAmountDue({{ account_balance }})
  backEndDataObject.amount_due = {{ account_balance }}
    }
  });
  $("#particularList").change(function () {
    if ($(this).val() != "") {
      backEndDataObject.particularType = $(this).val()
      //alert(backEndDataObject.particularType)
    }
  });
  $("#paymentType").change(function () {
    if ($(this).val() != "") {
      backEndDataObject.paymentType = $(this).val()
    }
  });
  $('[name="paymentMethod"]').change(function () {
    if ($(this).val() != "") {
      backEndDataObject.payment_method = $(this).val()
      trans_one = 1
    }
    if ($(this).val() == "Others") {
      //$('#paymentOthers').append(method);
      $('.method').show();
      $("#paymentAmount").removeAttr('disabled');
      $("#ORNumber").removeAttr('disabled');
    }
    else if ($(this).val() == "Promissory") {
      $(".method").hide();
      $('#paymentAmount').prop("disabled", true);
      $('#ORNumber').prop("disabled", true);
    }
    else {

      $(".method").hide();
      $("#paymentAmount").removeAttr('disabled');
      $("#ORNumber").removeAttr('disabled');
    }
  });
  //Custom Functions
  function sendData() {
    backEndDataObject.payment_method = $('[name="paymentMethod"]').val()
    backEndDataObject.ORNumber = $('[name="ORNumber"]').val()
    var total = 0.0


    jsonData = JSON.stringify(backEndDataObject)
    $.ajax({
      url: '{% url "printJson" registration.enrollment_ID %}',
      type: 'POST',
      dataType: 'json',
      data: jsonData,
      success: function (data) {
        location.reload()
      }
    });
  }

  function updateFields() {
    backEndDataObject.months = []
    backEndDataObject.tuitionAmount = []
    $('.monthList').each(function () {
      backEndDataObject.months.push($(this).val())
    });
    $('[name="amountTuition"]').each(function () {
      backEndDataObject.tuitionAmount.push($(this).val())
    });
  }

  function updateChange() {
    payment = $('#paymentAmount').val()
    amount_due = backEndDataObject.amount_due
    change = payment - amount_due;
    $('#change .currency').html(change)
  }
  function recordORNum() {
    if (event.target.value != 0) {
      backEndDataObject.ORNumber = event.target.value;
    }
  }

  function recordPartial() {
    if (event.target.value != 0) {
      total = parseFloat(event.target.value)
      backEndDataObject.amount_due = total
      changeAmountDue(total)
    }
  }
  function changeAmountDue(input) {
    $('.amount-due .currency').html(input.formatMoney(2, '.', ','))
  }
  function updateAmountDue() {
    var total = 0.0
    $('[name="amountTuition"]').each(function () {
      curr = $(this).val()
      total = total + parseFloat(curr)
    });
    backEndDataObject.amount_due = total
    //total += parseFloat($(".").val())
    changeAmountDue(total)
    //$('. .currency').html(total.formatMoney(2, '.', ','))
  }
  function recordEnrollmentPartial() {
    if (event.target.value != 0) {
      backEndDataObject.partialAmount = event.target.value;
      //alert(backEndDataObject.partialAmount)
    }
  }
  var othersData = {
    "type": 'others',
    "name": [],
    "amount": []

  }
  function recordSpecName(name, num) {
    othersData.name.push(name)

  }

  function recordSpecAmount(money, num) {
    othersData.amount.push(money)

  }

  function transferData(num) {
    alert(num.toString())
    id = '#item-' + num
    numid = '#amount-' + num
    $(id).html(othersData.name[num])
    $(numid).html(othersData.amount[num])

  }
</script>
  
  <script>
    //Chynna's Validation
      $("#cashierTransaction").validate({
        rules: {
            particularList: {
                required: true
            },
            amountPartial: {
              required: true,
              digits: true
            },
            amountTuition: {
              required: true,
              digits: true
            },
            particularName:{
              required: true
            },
            priceAmount:{
              required: true,
              digits: true
            },
            particularList:{
              required:true
            },
            paymentType:{
              required:true
            },
            monthTuition:{
              required:true
            },
            feesParticularList:{
              required:true
            },
            paymentMethod:{
              required:true
            },
            ORNumber:{
              required:true
            },
            amountPayment:{
              required:true,
              digits:true
            }
        },
        messages: {
            particularList: {
                required: "Please enter a particular"
            },
            amountPartial: {
                required: "Please enter an amount",
                digits: "Only numbers are accepted"
            },
            aamountTuition: {
                required: "Please enter an amount",
                digits: "Only numbers are accepted"
            },
            particularName:{
              required: "Please enter a particular name"
            },
            priceAmount:{
              required: "Please enter a price amount",
              digits: "Only numbers are accepted"
            },
            particularList:{
              required:"Please choose a particular"
            },
            paymentType:{
              required:"Please choose a payment type"
            },
            monthTuition:{
              required:"Please enter a month"
            },
            feesParticularList:{
              required:"Please choose a particular"
            },
            paymentMethod:{
              required:"Please enter a payment method"
            },
            ORNumber:{
              required:"Please enter an OR number"
            },
            amountPayment:{
              required:"Please enter a payment amount",
              digits: "Only numbers are allowed"
            }
        },
        submitHandler: function(form) {
          form.submit();
        }
    });
  </script>
{%endblock%}