<table class="table table-bordered bg-nav table-hover">
    <thead class="thead-light">
        <tr>
            <!-- Refer to database for headings -->
            <th scope="col">Date</th>
            <th scope="col">Particular Name</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% load humanize %}
        {% for transaction in transaction_list %}
        <tr>
            <td>{{transaction.date_paid}}</td>
            <td>{{transaction.get_particular_name}}</td>
            <td>{{transaction.get_payment_method_display}}</td>
            <td>₱ {{transaction.get_total_sum|floatformat:2|intcomma}}</td>
            <td> </td>
        </tr>
        {%empty%}
        <tr>
            <td colspan="5" class="text-center">No Transactions Made</td>
        </tr>
        {% endfor %}

    </tbody>
</table>