<table class="table table-bordered bg-nav table-hover">
            <thead class="thead-light">
              <tr>
                <!-- Refer to database for headings -->
                <th scope="col">Year Level </th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              {%for yl in yearlevel_list %}
              <tr>
                <td>{{yl.grade_level}}</td>
                <td class="text-center">
                  <a href="{% url 'year-level-list-update' yl.pk %}" class="btn btn-secondary btn-sm view-button">Edit</a>
                  <button type="button" onclick="location.href='{% url 'year-level-delete' yl.pk %}'" class="btn btn-sm btn-danger view-button">Delete</button></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center">No Year Level</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
{% if yearlevel_list.has_other_pages %}
<nav aria-label="Page navigation" class="no-print">
  <ul class="pagination pagination-md justify-content-center">
    {% if yearlevel_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ yearlevel_list.previous_page_number }})" tabindex="-1">Previous</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {%endif%} 
    {% for i in yearlevel_list.paginator.page_range %} 
      {% if yearlevel_list.number == i %}
        <li class="page-item active"><a class="page-link " href="#" >{{i}}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="javascript:generatePage({{i}})">{{i}}</a></li>
      {% endif %} 
    {% endfor %} 
    {% if yearlevel_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ yearlevel_list.next_page_number }})">Next</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {%endif%}
  </ul>
</nav>
{% endif %}