<div class="row records">
  <div class="col-md-8">
    <h2>Financial Records</h2>
  </div>
  <div class="row table-records table-responsive" style="padding-right: 15px;">
    <table class="table bg-nav table-hover">
      <tbody>
        {% load humanize %} {% for record in payment_list %} {% if forloop.counter|divisibleby:2 %}
        <td>
          <h6>{{record.payable_name}}:</h6>
        </td>
        <td>₱ {{record.fee_amount|floatformat:2|intcomma}}</td>
        </tr>
        {% else %}
        <tr>
          <td>
            <h6>{{record.payable_name}}:</h6>
          </td>
          <td>₱ {{record.fee_amount|floatformat:2|intcomma}}</td>
          {%endif%} {% endfor %}
          <tr>
            <td>Total(Current): </td>
            <td>₱ {{total_balance|floatformat:2|intcomma}} </td>
            <td>Less scholarship:</td>
            <td>₱ {{scholarship_deductions|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <h3 style="color: red"> Balance: </h3>
            </td>
            <td>
              <h3 style="color: red"> {{balance|floatformat:2|intcomma}} </h3>
            </td>
          </tr>
    </table>
    <hr>
  </div>
</div>