
<table class="table table-bordered bg-nav table-hover">
  <thead class="thead-light">
    <tr>
      <!-- Refer to database for headings -->
      <th scope="col">Offering Code </th>
      <th scope="col">Subject Name</th>
      <th scope="col">Schedule</th>
      <th scope="col">Teacher Assigned</th>
      <th scope="col">Section Assigned</th>
      <th scope="col">Capacity</th>
      <th scope="col" class="no-print text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    
    {%for subjOff in subjectOffering_list%}
    <tr>
        <td>{{subjOff.pk}}</td>
        <td>{{subjOff.subject}}</td>
        <td>No Scheduling System</td>
        <td>{{subjOff.teacher}}</td>
        <td>{{subjOff.section}}</td>
        <td><span>not yet<span><span>/implemented</span></td><!-- First span is students currently enrolled in that offering, Second span is student capacity-->
        <td class="text-center no-print">
          <a href="{{ subjOff.get_absolute_url  }}" class="btn btn-success btn-sm view-button">View</a><br>
          <a href="{% url 'subjectOffering-update' pk=subjOff.pk %}" class="btn btn-secondary btn-sm view-button">Edit</a><br>
          <button type="button" onclick="deleteRow(this)" class="btn btn-sm btn-danger view-button">Delete</button></td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center">No Offering</td>
        </tr>
     {%endfor%}
  </tbody>
</table>

{% if subjectOffering_list.has_other_pages %}
<nav aria-label="Page navigation" class="no-print">
  <ul class="pagination pagination-md justify-content-center">
    {% if subjectOffering_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ subjectOffering_list.previous_page_number }})" tabindex="-1">Previous</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {%endif%} 
    {% for i in subjectOffering_list.paginator.page_range %} 
      {% if subjectOffering_list.number == i %}
        <li class="page-item active"><a class="page-link " href="#" >{{i}}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="javascript:generatePage({{i}})">{{i}}</a></li>
      {% endif %} 
    {% endfor %} 
    {% if subjectOffering_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ subjectOffering_list.next_page_number }})">Next</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {%endif%}
  </ul>
</nav>
{% endif %}
