{% load widget_tweaks %}
  <form action="{% url 'scholarship-create' %}" method="POST" class="js-scholarship-create-form">
{% csrf_token %}
    <div class="row">
                <div class="col-md-4">
                <label>Scholarship ID:</label>
                  <p class="form-control-static">0002</p><!--incremental-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Scholarship Name:</label>
                  {{form.scholarship_name|add_class:"form-control"|attr:"placeholder = Name"}}
                    {% if form.scholarship_name.errors %}
                      <p class="help-block">{{ form.scholarship_name.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                  <label>Scholarship Reductions:</label>
                  {{form.fee_amount|add_class:"form-control"|attr:"placeholder = Amount"}}
                    {% if form.fee_amount.errors %}
                      <p class="help-block">{{ form.fee_amount.errors }}</p>
                    {% endif %}
          </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Scholarship Type:</label>
                  {{form.scholarship_type|add_class:"form-control"|attr:"placeholder = Type"}}
                    {% if form.scholarship_type.errors %}
                      <p class="help-block">{{ form.scholarship_type.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                  <label>Valid for:</label>
                  {{form.school_year|add_class:"form-control"|attr:"placeholder = Year"}}
                    {% if form.school_year.errors %}
                      <p class="help-block">{{ form.school_year.errors }}</p>
                    {% endif %}
                </div>
    <div class="btn-forms" style="display: flex; justify-content: flex-end">
      <a href="scholarship-list.html" class="btn btn-link">Cancel</a>
     <input type="submit" class="btn btn-primary" value="Save Scholarship Details"></input>
    </div>
  </form>