<table class="table table-bordered bg-nav table-hover">
  <thead class="thead-light">
    <tr>
      <!-- Refer to database for headings -->
      <th scope="col">School Year Name </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody><!--Please arrange with most recent first (descending)-->
    <tr>
      {%for sy in schoolyear_list%}
      <td>{{sy.year_name}}</td>
      <td class="text-center">
        <a href="schoolyear-list-add.html" class="btn btn-secondary btn-sm view-button">Edit</a>
        <button type="button" onclick="deleteRow(this)" class="btn btn-sm btn-danger view-button">Delete</button></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No School Year</td>
    </tr>
   {%endfor%}
  </tbody>
</table>
{% if schoolyear_list.has_other_pages %}
<nav aria-label="Page navigation" class="no-print">
  <ul class="pagination pagination-md justify-content-center">
    {% if schoolyear_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ schoolyear_list.previous_page_number }})" tabindex="-1">Previous</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {%endif%} 
    {% for i in schoolyear_list.paginator.page_range %} 
      {% if schoolyear_list.number == i %}
        <li class="page-item active"><a class="page-link " href="#" >{{i}}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="javascript:generatePage({{i}})">{{i}}</a></li>
      {% endif %} 
    {% endfor %} 
    {% if schoolyear_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ schoolyear_list.next_page_number }})">Next</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {%endif%}
  </ul>
</nav>
{% endif %}