<table class="table table-bordered bg-nav table-hover">
    <thead class="thead-light">
    <tr>
        <!-- Refer to database for headings -->
        <th scope="col">Student Name</th>
        <th scope="col">Year Level</th>
        <th scope="col">Section</th>
        <th scope="col" class="no-print">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Brown, Mille-Bobbie</td>
        <td>Grade IV</td>
        <td>St. Mark</td>
        <td class="text-center">
        <a href="student-profile.html" class="btn btn-success btn-sm view-button no-print">View</a>
        <button type="button" class="btn btn-danger btn-sm view-button no-print" onclick="deleteRow(this)">Remove</button>
        </td>
    </tr>
    </tbody>
</table>